@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:wght@400;700&family=Lato:wght@400;700&family=Raleway:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF9F4;
  --foreground: #CCCCCC;
  --text-color: #333333;
  --primary: #4E342E;
  --secondary: #F3E5AB;
  --accent: #B29055;
  --neutral: #D7A478;
}

*::selection {
  background-color: var(--text-color);
  color: var(--background);
}

*::-moz-selection {
  background-color: var(--text-color);
  color: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
}
